.full-width{
  width: 90%;
}

.modal-header{
  // color: white;
  // background-color: $primary-color;
   div{
     font-weight: bold;
     font-size: medium;
   }
  //  span{
  //    color:white
  //  }
}
.modal-content{
border: 1px solid #dee2e6 !important
}
.modal-body{
  label{
    color:$primary-color !important;
    font-weight: bold;
  }
  .container-fluid{
    color: black;
    font-size: 1rem;
  }

}

.modal-backdrop{
  background-color: white;
  &.show{
    opacity: 0.7;
  }
}

.application{
  .max-height{
    height: 53vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}