.sidebar{
  background-color: $primary-color;
  box-shadow: none;
  .nav{
    margin-top: 0;
    .nav-item{
      
      &.active{
        background-color: $nav-color-active;
       
        a{
          &::before{
            background-color: white;
          }
          color: white;
          i{
            color: white;
          }
        }
      }
      a{
        margin-bottom: 0;
        height: 55px;
        &:hover{
          background-color: $nav-color-active;
          &::before{
            background-color: white;
          }
          color:white;
          i{
            color:white;
          }
        }
        i{
          color:white
        }
        color:white
      }
    }
  }
}