.full-page-container{
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  .card {
    width: 30%;
    margin: 0 auto;
    .card-header{
      .card-title{
        padding-left: 15px;
      }
    }
  }
  button{
    margin-right: 10px;
  }
  .image-container{
    width: 50%;
    height: 100vh;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    align-content: center;
    img{
      width: 40%;
    }
  }
}