.page-title{
  color: $primary-color !important;
}

.background-color-grey{
  background-color: 'grey';
}


.fh{
  &-226{height: 227px !important;
  }
  &-150{height: 150px !important;
  }
    &-100{height: 110px !important;
    }
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-panel{
  background-color: white;
}
